@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700');

@import "tailwindcss";

@theme {
  --color-anomaly-blue: #2854A4;
  --color-reality-yellow: #ECAF20;
  --color-agency-red: #ca2230;
  --color-deep-purple: #251c46;
}

@layer utilities {
  .font-roboto {
    font-family: 'Roboto';
  }
}